* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #4b1572;
    color: white;
    line-height: 1.6;
}

header {
    padding: 20px; 
    text-align: center; 
}

.title {
    font-family: 'Pacifico', cursive; 
    font-size: 2.5em; 
    margin-bottom: 10px; 
}

.navbar {
    list-style: none; 
    display: flex; 
    justify-content: center;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    margin: 20px 0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.navbar a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; 
}

.welcome-title {
    font-family: 'Calibri';
    font-size: 2em;
    color: #ffffff; 
}


main {
    padding: 20px; 
    text-align: center; 
}


form {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    padding: 20px;
    display: inline-block; 
    margin-top: 20px; 
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px; 
    margin: 10px 0; 
    border: none; 
    border-radius: 5px; 
}


button {
    background-color: #4caf50; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 10px 20px; 
    cursor: pointer; 
    margin-top: 10px; 
}


button:hover {
    background-color: #45a049;
}

footer {
    text-align: center; 
    padding: 20px; 
    margin-top: 20px; 
}

footer a {
    color: #ffffff; 
    text-decoration: none; 
}

footer a:hover {
    text-decoration: underline;
}

.footer-content {
    display: flex;
    align-items: center;
}

.footer-content img {
    margin-left: 20px;
    height: 50px;
}

@media (max-height: 600px) {
    header {
      display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}
